{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
<div class="my-4">
    {{ form_label(form.model, 'Modèle de la voiture : ', { label_attr : {'class': 'form_model'}}) }}
    {{ form_widget(form.model) }}
</div>
<div class="my-4">
    {{ form_label(form.price, 'Prix de la location : ') }}
    {{ form_widget(form.price) }}
</div>

{{ form_row(form.image) }}